
services:


## ##### NETBeans xdebug 3 configuration #####
##
## You should configure the PathMapping in the Netbeans' Project Properties. Select 'Run Configuration' and click on the 'Advanced...' button. Then configure the Path Mapping as:
## 'Server Path' -> /var/www/html/web
## ' Project Path' -> the local route to the 'web' folder.
#
#  php:
#    environment:
#      PHP_XDEBUG: 1
#      PHP_XDEBUG_MODE: debug
#      XDEBUG_SESSION: netbeans-xdebug
#      PHP_XDEBUG_LOG: /tmp/php-xdebug.log
#    volumes:
#    # For XHProf and Xdebug profiler traces
#      - files:/mnt/files


## ##### PHP Storm xdebug 3 configuration #####
##
## You should create a 'PHP Web Page' configuration and, this is the most important part, a server configuration
## named 'local' for this to work. Usually inside this server configuration you should remap the project root path
## with the 'inside docker' path.
## Other related links:
## - https://www.jetbrains.com/help/phpstorm/configuring-xdebug.html#integrationWithProduct
## - https://wodby.com/docs/stacks/php/local/#xdebug
#
#  php:
#    environment:
#      PHP_XDEBUG: 1
#      PHP_XDEBUG_MODE: debug
#      XDEBUG_SESSION: local
#      PHP_XDEBUG_IDEKEY: "PHPSTORM"
#      PHP_XDEBUG_LOG: /tmp/php-xdebug.log
#    volumes:
#    # For XHProf and Xdebug profiler traces
#      - files:/mnt/files
