version: "3.7"

services:
  # @NOTE: enable ssh_auth_sock environment and volume variables
  # in the case you need to access to remote servers
  # inside docker using self-hosted credentials. It only works on Linux.
#  php:
#    environment:
#      # Read instructions at https://wodby.com/docs/stacks/php/local/#xdebug
#      PHP_XDEBUG: 1
#      PHP_XDEBUG_MODE: debug
#      PHP_IDE_CONFIG: serverName=my-ide
#      PHP_XDEBUG_IDEKEY: "my-ide"
#      PHP_XDEBUG_CLIENT_HOST: host.docker.internal # Docker 18.03+ Mac/Win
#      PHP_XDEBUG_CLIENT_HOST: 172.17.0.1 # Linux
#      PHP_XDEBUG_CLIENT_HOST: 10.254.254.254 # macOS, Docker < 18.03
#      PHP_XDEBUG_CLIENT_HOST: 10.0.75.1 # Windows, Docker < 18.03
#      PHP_XDEBUG_LOG: /tmp/php-xdebug.log
#      PHP_XDEBUG_LOG_LEVEL: 0
#    volumes:
## For XHProf and Xdebug profiler traces
#      - files:/mnt/files
