version: "3.7"

services:

  # @NOTE: enable ssh_auth_sock environment and volume variables
  # in the case you need to access to remote servers
  # inside docker using self-hosted credentials. It only works on Linux.
#  php:
#    environment:
#      SSH_AUTH_SOCK: /ssh-agent
#      # Read instructions at https://wodby.com/docs/stacks/php/local/#xdebug
#      PHP_XDEBUG: 1
#      PHP_XDEBUG_MODE: debug
#      PHP_IDE_CONFIG: serverName=my-ide
#      PHP_XDEBUG_IDEKEY: "my-ide"
#      PHP_XDEBUG_CLIENT_HOST: host.docker.internal # Docker 18.03+ Mac/Win
#      PHP_XDEBUG_CLIENT_HOST: 172.17.0.1 # Linux
#      PHP_XDEBUG_CLIENT_HOST: 10.254.254.254 # macOS, Docker < 18.03
#      PHP_XDEBUG_CLIENT_HOST: 10.0.75.1 # Windows, Docker < 18.03
#      PHP_XDEBUG_LOG: /tmp/php-xdebug.log
#    volumes:
#      - $SSH_AUTH_SOCK:/ssh-agent
## For XHProf and Xdebug profiler traces
#      - files:/mnt/files
## Alternative for macOS users: Mutagen https://wodby.com/docs/stacks/drupal/local#docker-for-mac
#      - mutagen:/var/www/html

#  nginx:
#    volumes:
# For macOS users (https://wodby.com/docs/stacks/drupal/local#docker-for-mac)
#      - ./:/var/www/html:cached # User-guided caching
#      - docker-sync:/var/www/html # Docker-sync

  traefik:
    # https://stackoverflow.com/questions/48851190/docker-compose-override-a-ports-property-instead-of-merging-it
    ports:
     - '8000:80'
     - '8444:443'
#     - '8080:8080' # Dashboard

  mkdocs:
    container_name: "${PROJECT_NAME}_mkdocs"
    image: metadrop/docker-mkdocs
    volumes:
      - ./docs:/docs
    working_dir: /docs
    labels:
      - "traefik.http.services.${PROJECT_NAME}_mkdocs.loadbalancer.server.port=8080"
      - "traefik.http.routers.${PROJECT_NAME}_mkdocs.rule=Host(`docs.${PROJECT_BASE_URL}`)"

  adminer:
    container_name: "${PROJECT_NAME}_adminer"
    image: wodby/adminer:$ADMINER_TAG
    environment:
#      # For PostgreSQL:
#      #      ADMINER_DEFAULT_DB_DRIVER: pgsql
      ADMINER_DEFAULT_DB_HOST: $DB_HOST
      ADMINER_DEFAULT_DB_NAME: $DB_NAME
    labels:
      - "traefik.http.routers.${PROJECT_NAME}_adminer.rule=Host(`adminer.${PROJECT_BASE_URL}`)"

#  lighthouse-ci:
#    container_name: "${PROJECT_NAME}_lighthouse-ci"
#    build:
#      context: ./lighthouse
#    security_opt:
#      - 'seccomp:./lighthouse/seccomp-chrome.json'
#    volumes:
#      - ./reports/lighthouse:/home/lhci/reports

#volumes:
## For macOS users (Mutagen)
#  mutagen:
## For Xdebug profiler
#  files:
