<?xml version="1.0" encoding="utf-8"?>
<checkstyle version="4.3">
    <file name="[REPOSITORY-FOLDER]/web/themes/custom/example/src/sass/base/_elements.scss">
        <error source="stylelint.rules.block-no-empty" line="11" column="3" severity="error" message="Unexpected empty block (block-no-empty)" />
        <error source="stylelint.rules.block-no-empty" line="28" column="4" severity="error" message="Unexpected empty block (block-no-empty)" />
        <error source="stylelint.rules.block-no-empty" line="34" column="5" severity="error" message="Unexpected empty block (block-no-empty)" />
        <error source="stylelint.rules.block-no-empty" line="38" column="8" severity="error" message="Unexpected empty block (block-no-empty)" />
        <error source="stylelint.rules.block-no-empty" line="42" column="12" severity="error" message="Unexpected empty block (block-no-empty)" />
        <error source="stylelint.rules.block-no-empty" line="48" column="12" severity="error" message="Unexpected empty block (block-no-empty)" />
        <error source="stylelint.rules.block-no-empty" line="52" column="8" severity="error" message="Unexpected empty block (block-no-empty)" />
        <error source="stylelint.rules.block-no-empty" line="56" column="7" severity="error" message="Unexpected empty block (block-no-empty)" />
        <error source="stylelint.rules.block-no-empty" line="19" column="18" severity="error" message="Unexpected empty block (block-no-empty)" />
        <error source="stylelint.rules.property-no-unknown" line="69" column="3" severity="error" message="Unexpected unknown property &quot;futi&quot; (property-no-unknown)" />
        <error source="stylelint.rules.selector-type-no-unknown" line="68" column="1" severity="error" message="Unexpected unknown type selector &quot;caca&quot; (selector-type-no-unknown)" />
        <error source="stylelint.rules.unit-no-unknown" line="69" column="9" severity="error" message="Unexpected unknown unit &quot;gt&quot; (unit-no-unknown)" />
    </file>
    <file name="[REPOSITORY-FOLDER]/web/themes/custom/example/src/sass/base/_forms.scss"></file>
    <file name="[REPOSITORY-FOLDER]/web/themes/custom/example/src/sass/base/_functions.scss">
        <error source="stylelint.rules.no-empty-source" line="1" column="1" severity="error" message="Unexpected empty source (no-empty-source)" />
    </file>
    <file name="[REPOSITORY-FOLDER]/web/themes/custom/example/src/sass/base/_helpers.scss">
        <error source="stylelint.rules.no-empty-source" line="1" column="1" severity="error" message="Unexpected empty source (no-empty-source)" />
    </file>
    <file name="[REPOSITORY-FOLDER]/web/themes/custom/example/src/sass/base/_mixins.scss"></file>
    <file name="[REPOSITORY-FOLDER]/web/themes/custom/example/src/sass/base/_see-more.scss"></file>
    <file name="[REPOSITORY-FOLDER]/web/themes/custom/example/src/sass/base/_throbber.scss"></file>
    <file name="[REPOSITORY-FOLDER]/web/themes/custom/example/src/sass/base/_typography.scss"></file>
    <file name="[REPOSITORY-FOLDER]/web/themes/custom/example/src/sass/base/_variables.scss"></file>
    <file name="[REPOSITORY-FOLDER]/web/themes/custom/example/src/sass/block/_block-content-nav.scss"></file>
    <file name="[REPOSITORY-FOLDER]/web/themes/custom/example/src/sass/block/_block.scss">
        <error source="stylelint.rules.no-empty-source" line="1" column="1" severity="error" message="Unexpected empty source (no-empty-source)" />
    </file>
    <file name="[REPOSITORY-FOLDER]/web/themes/custom/example/src/sass/content/_node.article.scss">
        <error source="stylelint.rules.block-no-empty" line="3" column="18" severity="error" message="Unexpected empty block (block-no-empty)" />
        <error source="stylelint.rules.block-no-empty" line="9" column="16" severity="error" message="Unexpected empty block (block-no-empty)" />
    </file>
    <file name="[REPOSITORY-FOLDER]/web/themes/custom/example/src/sass/content/_node.page.scss"></file>
    <file name="[REPOSITORY-FOLDER]/web/themes/custom/example/src/sass/layout/_page.content.scss">
        <error source="stylelint.rules.block-no-empty" line="3" column="16" severity="error" message="Unexpected empty block (block-no-empty)" />
    </file>
    <file name="[REPOSITORY-FOLDER]/web/themes/custom/example/src/sass/layout/_page.content.sidebar.scss"></file>
    <file name="[REPOSITORY-FOLDER]/web/themes/custom/example/src/sass/layout/_page.footer.scss"></file>
    <file name="[REPOSITORY-FOLDER]/web/themes/custom/example/src/sass/layout/_page.header.scss">
        <error source="stylelint.rules.block-no-empty" line="3" column="15" severity="error" message="Unexpected empty block (block-no-empty)" />
    </file>
    <file name="[REPOSITORY-FOLDER]/web/themes/custom/example/src/sass/layout/_page.navigation.scss"></file>
    <file name="[REPOSITORY-FOLDER]/web/themes/custom/example/src/sass/layout/_page.offcanvas.scss"></file>
    <file name="[REPOSITORY-FOLDER]/web/themes/custom/example/src/sass/user/_full.scss"></file>
</checkstyle>
